anyio
asttokens
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
docopt
executing
filelock
filetype
fonttools
fsspec
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lap
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pillow
pipreqs
platformdirs
prompt_toolkit
psutil
pure_eval
py-cpuinfo
Pygments
pyparsing
python-dateutil
python-dotenv
python-telegram-bot
pytz
pywin32
PyYAML
pyzmq
requests
requests-toolbelt
roboflow
scipy
seaborn
setuptools
six
sniffio
stack-data
sympy
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
yarg
